body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:582px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:700px;
}
#u1386 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:4px;
  width:339px;
  height:700px;
}
#u1386_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1387_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:535px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1387 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:87px;
  width:300px;
  height:535px;
}
#u1387_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1388_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1388 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:136px;
  width:243px;
  height:56px;
}
#u1388_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  white-space:nowrap;
}
#u1389_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:163px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1389 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:427px;
  width:243px;
  height:163px;
}
#u1389_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  white-space:nowrap;
}
#u1390_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1390 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:198px;
  width:1px;
  height:16px;
}
#u1390_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u1391_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1391 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:389px;
  width:93px;
  height:22px;
  font-size:12px;
}
#u1391_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:89px;
  word-wrap:break-word;
}
#u1392_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1392 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:351px;
  width:66px;
  height:29px;
}
#u1392_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:62px;
  word-wrap:break-word;
}
#u1393_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0000;
  text-align:center;
}
#u1393 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:358px;
  width:131px;
  height:16px;
  color:#CC0000;
  text-align:center;
}
#u1393_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u1394_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1394 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:389px;
  width:93px;
  height:22px;
  font-size:12px;
}
#u1394_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:89px;
  word-wrap:break-word;
}
#u1395_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#009900;
  text-align:center;
}
#u1395 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:357px;
  width:53px;
  height:16px;
  color:#009900;
  text-align:center;
}
#u1395_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1396_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0000;
}
#u1396 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:357px;
  width:66px;
  height:16px;
  color:#CC0000;
}
#u1396_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u1397 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:100px;
  width:28px;
  height:28px;
}
#u1397_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u1398 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:100px;
  width:26px;
  height:25px;
}
#u1398_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u1399 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:100px;
  width:26px;
  height:25px;
}
#u1399_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1400 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:395px;
  width:100px;
  height:16px;
}
#u1400_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1400_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1401 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:202px;
  width:242px;
  height:16px;
}
#u1401_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:224px;
  word-wrap:break-word;
}
#u1401_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1402 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:230px;
  width:242px;
  height:16px;
}
#u1402_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:224px;
  word-wrap:break-word;
}
#u1402_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1403 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:258px;
  width:242px;
  height:16px;
}
#u1403_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:224px;
  word-wrap:break-word;
}
#u1403_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1404 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:285px;
  width:242px;
  height:16px;
}
#u1404_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:224px;
  word-wrap:break-word;
}
#u1404_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1405 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:312px;
  width:242px;
  height:16px;
}
#u1405_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:224px;
  word-wrap:break-word;
}
#u1405_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1406_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1406 {
  border-width:0px;
  position:absolute;
  left:514px;
  top:224px;
  width:68px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1406_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
