body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:487px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:700px;
}
#u1634 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:4px;
  width:339px;
  height:700px;
}
#u1634_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1635_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:535px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1635 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:87px;
  width:300px;
  height:535px;
}
#u1635_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u1636 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:100px;
  width:28px;
  height:28px;
}
#u1636_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1637 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:158px;
  width:300px;
  height:463px;
  overflow:hidden;
}
#u1637_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:463px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1637_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1638 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:1235px;
  overflow:hidden;
  touch-action:none;
}
#u1638_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:1235px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1638_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
.u1640 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:4px;
  width:40px;
  height:40px;
}
.u1640_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1641_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1641 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:16px;
  width:57px;
  height:16px;
}
.u1641_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
.u1642_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
.u1642 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:48px;
  width:300px;
  height:1px;
}
.u1642_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1643_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
.u1643 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:11px;
  width:90px;
  height:27px;
  font-size:14px;
}
.u1643_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
.u1644 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:18px;
  width:21px;
  height:13px;
  overflow:hidden;
  visibility:hidden;
}
.u1644_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(51, 204, 0, 1);
  background-image:none;
}
.u1644_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1644_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 0, 0, 1);
  background-image:none;
}
.u1644_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1639-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:49px;
}
#u1639-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:300px;
  height:49px;
}
#u1639-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:98px;
  width:300px;
  height:49px;
}
#u1639-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:147px;
  width:300px;
  height:49px;
}
#u1639-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:196px;
  width:300px;
  height:49px;
}
#u1639-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:245px;
  width:300px;
  height:49px;
}
#u1639-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:294px;
  width:300px;
  height:49px;
}
#u1639-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:343px;
  width:300px;
  height:49px;
}
#u1639-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:392px;
  width:300px;
  height:49px;
}
#u1639-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:441px;
  width:300px;
  height:49px;
}
#u1639-11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:490px;
  width:300px;
  height:49px;
}
#u1639-12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:539px;
  width:300px;
  height:49px;
}
#u1639-13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:588px;
  width:300px;
  height:49px;
}
#u1639-14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:637px;
  width:300px;
  height:49px;
}
#u1639-15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:686px;
  width:300px;
  height:49px;
}
#u1639-16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:735px;
  width:300px;
  height:49px;
}
#u1639-17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:784px;
  width:300px;
  height:49px;
}
#u1639-18 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:833px;
  width:300px;
  height:49px;
}
#u1639-19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:882px;
  width:300px;
  height:49px;
}
#u1639-20 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:931px;
  width:300px;
  height:49px;
}
#u1639-21 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:980px;
  width:300px;
  height:49px;
}
#u1639-22 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1029px;
  width:300px;
  height:49px;
}
#u1639-23 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1078px;
  width:300px;
  height:49px;
}
#u1639-24 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1127px;
  width:300px;
  height:49px;
}
#u1639 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:42px;
  width:300px;
  height:1176px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1645_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1645 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:15px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1645_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1646 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:426px;
  width:33px;
  height:33px;
  overflow:hidden;
}
#u1646_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1646_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u1647 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
  opacity:0.6;
}
#u1647_img.mouseOver {
}
#u1647.mouseOver {
  opacity:1;
}
#u1647_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#B40001;
}
#u1648 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:129px;
  width:161px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#B40001;
}
#u1648_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
