body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:487px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:700px;
}
#u1594 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:4px;
  width:339px;
  height:700px;
}
#u1594_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1595_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:535px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1595 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:87px;
  width:300px;
  height:535px;
}
#u1595_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u1596 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:100px;
  width:28px;
  height:28px;
}
#u1596_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1597_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1597 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:138px;
  width:55px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1597_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u1598_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#009900;
}
#u1598 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:142px;
  width:79px;
  height:16px;
  font-size:13px;
  color:#009900;
}
#u1598_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u1599 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:175px;
  width:235px;
  height:407px;
  overflow:hidden;
}
#u1599_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:407px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u1599_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1600_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:406px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(119, 119, 119, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1600 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:235px;
  height:406px;
}
#u1600_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1601 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:235px;
  height:623px;
  overflow:hidden;
  touch-action:none;
}
#u1601_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:623px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1601_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
.u1603 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:6px;
  width:34px;
  height:34px;
}
.u1603_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1604_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1604 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:14px;
  width:57px;
  height:16px;
}
.u1604_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
.u1605_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1605 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:14px;
  width:29px;
  height:16px;
}
.u1605_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1602-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:40px;
}
#u1602-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:191px;
  height:40px;
}
#u1602-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:191px;
  height:40px;
}
#u1602-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:191px;
  height:40px;
}
#u1602-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:191px;
  height:40px;
}
#u1602-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:191px;
  height:40px;
}
#u1602-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:191px;
  height:40px;
}
#u1602-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:280px;
  width:191px;
  height:40px;
}
#u1602-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:320px;
  width:191px;
  height:40px;
}
#u1602-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:360px;
  width:199px;
  height:40px;
}
#u1602-11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:400px;
  width:198px;
  height:40px;
}
#u1602-12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:440px;
  width:199px;
  height:40px;
}
#u1602-13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:480px;
  width:199px;
  height:40px;
}
#u1602-14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:520px;
  width:199px;
  height:40px;
}
#u1602-15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:560px;
  width:199px;
  height:40px;
}
#u1602 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:6px;
  width:199px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
