body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:582px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:700px;
}
#u1492 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:4px;
  width:339px;
  height:700px;
}
#u1492_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1493_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:535px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1493 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:87px;
  width:300px;
  height:535px;
}
#u1493_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1494_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:163px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1494 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:427px;
  width:243px;
  height:163px;
}
#u1494_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  white-space:nowrap;
}
#u1495_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1495 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:389px;
  width:93px;
  height:22px;
  font-size:12px;
}
#u1495_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:89px;
  word-wrap:break-word;
}
#u1496_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1496 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:351px;
  width:66px;
  height:29px;
}
#u1496_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:62px;
  word-wrap:break-word;
}
#u1497_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0000;
  text-align:center;
}
#u1497 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:358px;
  width:131px;
  height:16px;
  color:#CC0000;
  text-align:center;
}
#u1497_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u1498_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1498 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:389px;
  width:93px;
  height:22px;
  font-size:12px;
}
#u1498_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:89px;
  word-wrap:break-word;
}
#u1499_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#009900;
  text-align:center;
}
#u1499 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:357px;
  width:53px;
  height:16px;
  color:#009900;
  text-align:center;
}
#u1499_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1500_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0000;
}
#u1500 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:357px;
  width:66px;
  height:16px;
  color:#CC0000;
}
#u1500_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1501_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u1501 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:100px;
  width:28px;
  height:28px;
}
#u1501_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u1502 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:100px;
  width:26px;
  height:25px;
}
#u1502_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1503_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u1503 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:100px;
  width:26px;
  height:25px;
}
#u1503_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1504 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:395px;
  width:100px;
  height:16px;
}
#u1504_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1504_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1505_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1505 {
  border-width:0px;
  position:absolute;
  left:514px;
  top:224px;
  width:68px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1505_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u1506_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1506 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:135px;
  width:209px;
  height:56px;
}
#u1506_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u1507_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1507 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:198px;
  width:1px;
  height:16px;
}
#u1507_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u1508 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:202px;
  width:242px;
  height:16px;
}
#u1508_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:224px;
  word-wrap:break-word;
}
#u1508_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1509 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:230px;
  width:242px;
  height:16px;
}
#u1509_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:224px;
  word-wrap:break-word;
}
#u1509_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1510 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:258px;
  width:242px;
  height:16px;
}
#u1510_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:224px;
  word-wrap:break-word;
}
#u1510_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1511 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:285px;
  width:242px;
  height:16px;
}
#u1511_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:224px;
  word-wrap:break-word;
}
#u1511_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1512 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:312px;
  width:242px;
  height:16px;
}
#u1512_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:224px;
  word-wrap:break-word;
}
#u1512_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
